<script src="javascript/thirdParty.js"></script>

<!-- <!&#45;&#45; Bootstrap core JavaScript -->
<!-- ================================================== &#45;&#45;> -->
<!-- <!&#45;&#45; Placed at the end of the document so the pages load faster &#45;&#45;> -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->
<!-- <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script> -->
<!-- <script src="../../dist/js/bootstrap.min.js"></script> -->
<!-- <script src="../../assets/js/docs.min.js"></script> -->
<!-- <!&#45;&#45; IE10 viewport hack for Surface/desktop Windows 8 bug &#45;&#45;> -->
<!-- <script src="../../assets/js/ie10&#45;viewport&#45;bug&#45;workaround.js"></script> -->
